.App-header {
  background-color: #282c34;
  overflow: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 1.6em;
  }
}

.react-kanban-board {
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .react-kanban-board {
    justify-content: unset;
  }
}
